.About_skills, .About_about {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 1.5rem;
    left: 3%;
    width: 94%;
    border-radius: 5px;
    margin-top: 40px;
}

.About_skills {
    margin-bottom: 11rem;
    background-color: aquamarine;
}

.About_about {
    background-color: rgb(136, 127, 255);
}

.About_header, .About_crd-header {
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.About_crd-header {
    position: relative;
    top: 0;
    padding: 0;
    margin: 0 0 0 88%;
    font-size: 3rem;
}

#skills-js, #about-js {
    position: relative;
}

@media only screen and (max-width: 600px) {

    .About_skills, .About_about {
        padding: 4rem;
    }

    .About_header {
        margin-top: 100px;
    }

    .About_crd-header {
        font-size: 4rem;
        bottom: 82%;
        right: 5%;
    }

    .About_skills, .About_about {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 400px) {

    .About_crd-header {
        margin: 0 0 0 84%;
    }
    
    .About_skills, .About_about {
        padding: 2rem;
    }
}