#Modal_contact-phone,
#Modal_contact-linkedin,
#Modal_contact-email {
    font-size: 1.5rem;
    font-weight: 500;
}

.Modal_modal-header {
    font-size: 2.2rem;
    border-bottom: 1px solid rgb(192, 192, 192);
}

.Modal_contact-header {
    color: rgb(255, 116, 116);
    font-size: 1.5rem;
}

.Modal_contact-info {
    display: block;
    text-align: center;
    font-size: 3rem;
}

.Modal_fin {
    font-size: 1.8rem;
    position: relative;
    right: 5%;
    text-align: center;
    width: 110px;
    background-color: rgb(97, 248, 253);
    border-radius: 7px;
}

.Foot_fa-icon {
    display: block;
    padding-top: 10px;
    color: rgb(255, 255, 255);
}

.Foot_footer-container {
    position: relative;
    width: 100%;
    height: 100%; 
    color:white;
    z-index: 5;
    bottom: 0;
    background-color: rgb(0, 0, 0);
}

.Foot_ul-left {
    position: absolute;
    left: 10%;
    bottom: 20%;
    justify-content: space-around;
    display: flex;
    width: 25%;
}

.Foot_ul-right {
    position: relative;
    left: 60%;
    justify-content: space-around;
    display: flex;
    width: 30%;
    height: 110px;
}

.Foot_ul-right li {
    position: relative;
    top: 20%;
    height: 50%;
    align-items: center;
    padding: 0 0 0 13%;
    border-left: 1px solid white;
}

#Foot_img {
    filter: brightness(10);
    color: rgb(255, 255, 255);        
    width: 40px;
    height: 40px;
}

#Foot_contact {
    left: 12%;
    color: orange;
}

#Foot_resume {
    color: orange;
    left: 2%;
}

@media only screen and (max-width: 1000px) {

    .Foot_ul-left {
        width: 20%;
    }
    
    .Foot_ul-right {
        left: 57%;
        width: 40%;
    }

    .Foot_ul-right li {
        padding: 0 0 0 13%;
    }
}

@media only screen and (max-width: 750px) {

    .Foot_ul-left {
        width: 30%;
    }

    .Foot_ul-right {
        font-size: 8px;
        left: 65%;
        bottom: 20%;
        width: 30%;
    }
    
    #Foot_img {  
        width: 30px;
        height: 30px;
    }
    
    .Foot_ul-right li {
        padding: 0 0 0 12%;
    }    
}

@media only screen and (max-width: 600px) {
    
    .Modal_contact-info {
        font-size: 3.5rem;
    }

    .Modal_contact-header {
        font-size: 2rem;
    }

    .Modal_modal-header {
        font-size: 3rem;
    }
   
    .Modal_fin {
        right: 10%;
        width: 80%;
        font-size: 3rem;
    }

    #Modal_contact-phone,
    #Modal_contact-linkedin,
    #Modal_contact-email {
        font-size: 2.5rem;
        font-weight: 500;
    }

    #Foot_contact {
        font-size: 12px;
        left: 12%;
    }
    
    #Foot_resume {
        font-size: 12px;
        left: 2%;
    }

    .Foot_ul-left {
        padding: 0;
        font-size: 10px;
        left: 0;
        width: 100%;
    }

    .Foot_ul-right  {
        visibility: hidden;
    }
}