html {
    font-size: 10px;
    background-color: rgb(83, 82, 82);
}
/* 
.Nav-color {
    background: rgb(43, 172, 4);
} */

.Nav-marg-right {
    margin-right: 7rem;
}

.Nav-marg-left{
    margin-left: 10rem;
}

.Nav-nav_element {
    font-size: 2rem;
    color: white;
}

#Portfolio-carousel {
    height: 400px;
}

#Portfolio-carousel img {
    width: 30rem;
    height:30rem;
}
