html {
    font-size: 10px;
}

body {
    background-color: rgb(83, 82, 82);
}
 
.mobile-app {
    display: none;
}

.under-nav {

        margin-top: 90px;
        position: relative;
        left: 15%;
        text-align: center;
        width: 70%;
        height: 70%;
    
}

.Nav-color {
    position: fixed !important;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
} 

.Nav-marg-left{
    margin-left: 10rem;
} 

.Nav-nav_element {
    position: relative;
    right: 10%;
    font-size: 2rem;
    color: white;
}
#nav-mobile {
    float: right;
    width: 30%;
}

#Portfolio-carousel {
    right: 3%;
    align-content: center;
    text-align: center;
    height: 400px;
}

#Portfolio-carousel img {
    width: 30rem;
    height:30rem;
}

.Nav_fa-icon {
    display: none;
    overflow: hidden;
}
/* 
#Portfolio-full {
    margin-top: 90px;
    position: relative;
    left: 15%;
    text-align: center;
    width: 70%;
    height: 70%;
} */

#Portfolio-full img {
    margin: 20px 0;
    padding: 20px 10px;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 750px) {

    
#Portfolio-carousel {
    right: 3%;
    
    }
} 

@media only screen and (max-width: 600px) {

    .mobile-app {
        display: block;
    }

    .full-size-app { 
        display: none;
    }

    #Portfolio-carousel {
        display: none;
    }

    .brand-logo {
        display: none !important;
    }

    #nav-mobile {
        width:100%;
        justify-content: space-around;
        display: flex;
        /* position: fixed; */
        z-index: 2;
        top: 0;
        left: 0;
        overflow: hidden;
    }
    
    .Nav-nav_element {
        display: none;
    }
    
    .Nav_fa-icon {
        display: block;
        padding-top: 10px;
        color: rgb(255, 255, 255);
    }

    #nav-img {
        filter: brightness(10);
        color: rgb(255, 255, 255);        
        width: 40px;
        height: 40px;
    }

}