<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript" src="http://livejs.com/live.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="./assets/css/normalize.css" />    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">    
    <link rel="stylesheet" type="text/css" media="screen" href="./assets/css/style.css" />
    
</head>
<body>

    
  <nav>
    <div class="nav-wrapper Nav-color">
      <a href='/' class="brand-logo left Nav-marg-left">Logo</a>
      <ul class="right Nav-marg-right">
        <li><a class='Nav-nav_element' href="/">Skills</a></li>
        <li><a class='Nav-nav_element' href="/">Portfolio</a></li>
        <!-- <li><a class='Nav-nav_element' href="/">Contact</a></li> -->
      </ul>
      <ul id="nav-mobile">
        <li><a class='Nav_fa-icon' href="/"><i class="fab fa-linkedin fa-3x"></i></a></li>
        <li><a class='Nav_fa-icon' href="/"><i class="fab fa-github-square fa-3x"></i></a></li>
        <li><a class='Nav_fa-icon' href="/"><img id='nav-img' src='./assets/imgs/heroku-logo-light.png'></a></li>
      </ul>
    </div>
  </nav>

      <div id="proj-title"></div>


      <div id='Portfolio-carousel' class="carousel">
            <a class="carousel-item"></a>
            <!-- <a class="carousel-item" href="#two!"><img src="./assets/imgs/images.jpg"></a>
            <a class="carousel-item" href="#three!"><img src="./assets/imgs/images.jpg"></a> -->
      </div>

      <div id="proj-description"></div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> <!-- link to jQuery library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.1/p5.js"></script>
    <script src="./assets/js/main.js"></script>
</body>
</html>