<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Warrick Web Development</title>
  <link rel="icon" type='image/png' href="./assets/imgs/reduxi.png">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script type="text/javascript" src="http://livejs.com/live.js"></script>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" media="screen" href="./assets/css/master/normalize.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Do+Hyeon|Oswald|M+PLUS+1p" rel="stylesheet">

  <!-- user imported styles -->
  <link rel="stylesheet" type="text/css" media="screen" href="./assets/css/master/master.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="./assets/css/master/MQ.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="./assets/css/about.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="./assets/css/navbar.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="./assets/css/projects.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="./assets/css/contact.css" />
</head>

<body onresize="screenSizeUpdateHack(window.innerWidth)">

  <!-- navbar section -->
  <nav class="Nav_color">
      <div class="nav-wrapper"><a href='/' class="Nav_brand-logo left Nav_marg-left"><img class='logo' src="assets/imgs/logo.png"/></a>
        <ul class="right Nav_marg-right">
          <li><a class='Nav_nav-element' href="/about">About</a></li>
          <li><a class='Nav_nav-element' href="/">Portfolio</a></li>
        </ul>
        <ul id="Nav_mobile">
          <li><a class='Nav_fa-icon' href="https://www.linkedin.com/in/trey-warrick-928547169"><i class="fab fa-linkedin fa-4x"></i></a></li>
          <li><a class='Nav_fa-icon' href="https://github.com/iQuixotic/"><i class="fab fa-github-square fa-4x"></i></a></li>
          <li><a class='Nav_fa-icon' href="https://dashboard.heroku.com/"><img id='Nav_img' src='./assets/imgs/heroku-logo-light.png'></a></li>
        </ul>
      </div>
    </nav>

  <!-- project portfolio section -->
  <div id="under-fixed-nav">
    <div id="mobile-app"></div>
    <div id="full-size-app">
      <div id="Proj_title-fs"></div>
      <!-- <div id="Proj_container-fs"></div> -->
      <div id='Carousel-js' class="carousel">
        <a class="carousel-item" target='1' href="https://bank-manager-app-9485.herokuapp.com/">
          <img src="./assets/imgs/zenithScreenShot.png">
        </a>
        <a class="carousel-item" target='2' href="https://avatar-card-tribute-game-89458.herokuapp.com/">
          <img src="./assets/imgs/cards.png">
        </a>
        <a class="carousel-item" target='3' href="https://iquixotic.github.io/cat-clicker-game/">
          <img src="./assets/imgs/catGif9.png">
        </a>
      </div>
      <div id="Proj_desc-fs" class="card"></div>
    </div>
    </div>
   

  <!-- Contact Modal Structure -->
  <div id="Modal_contact-modal" class="modal">
    <div class="modal-content">
      <h3 class="Modal_modal-header">Contact</h3>
      <div id="Modal_contact-phone" class="col s12"><span class="Modal_contact-header">Phone: <br/><br/></span><span class="Modal_contact-info">(334) 342-8086</span></div>
      <div id="Modal_contact-linkedin" class="col s12"><span class="Modal_contact-header">Linkedin Profile: <br/><br/></span><a href='https://www.linkedin.com/in/trey-warrick-928547169' class="Modal_contact-info">My Linkedin Profile</a></div>
      <div id="Modal_contact-email" class="col s12"><span class="Modal_contact-header">Email: <br/><br/></span><span class="Modal_contact-info">treyw1850@gmail.com</span></div>
      </div>
    <div class="modal-footer">
        <a href="#!" class="Modal_fin btn modal-close waves-effect waves-green btn-flat">Got it !!</a>
        <div class="row">
            <div class="col s12">              
              <ul class="tabs">
                <li class="tab col s4"><a href="#Modal_contact-phone">Phone</a></li>
                <li class="tab col s4"><a class="active" href="#Modal_contact-linkedin">Linked-in</a></li>
                <li class="tab col s4"><a href="#Modal_contact-email">E-mail</a></li>
              </ul>
            </div>
          </div>        
    </div>
  </div>

   <!-- footer -->
   <div class='Foot_footer-container'>
      <ul class="Foot_ul-left">
        <li><a class='Foot_fa-icon' href="https://docs.google.com/document/d/1Rdn_Fjy_iVgVykVBH0CtJOY_bPfmtm2lRJ0RkaCMQks/edit?usp=sharing"><i class="far fa-file-alt fa-5x"></i><span id='Foot_resume' class="flex">Resume</span></a></li>
        <li><a class='Foot_fa-icon modal-trigger' href="#Modal_contact-modal"><i class="far fa-envelope-open fa-5x"></i><span id='Foot_contact' class="flex">Contact</span></a></li>
      </ul>

      <ul class="Foot_ul-right">
        <li><a class='Foot_fa-icon' href="https://www.linkedin.com/in/trey-warrick-928547169"><i class="fab fa-linkedin fa-3x"></i></a></li>
        <li><a class='Foot_fa-icon' href="https://github.com/iQuixotic/"><i class="fab fa-github-square fa-3x"></i></a></li>
        <li><a class='Foot_fa-icon' href="https://dashboard.heroku.com/"><img id='Foot_img' src='./assets/imgs/heroku-logo-light.png'></a></li>
      </ul>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  <!-- link to jQuery library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.1/p5.js"></script>

    <!-- user script files -->
    <script src="./assets/js/FOcontroller.js"></script>
    <script src="./assets/js/global.js"></script>
    <script src="./assets/js/mobile.js"></script>
    <script src="./assets/js/fullSize.js"></script>
</body>

</html>