html { 
    font-size: 10px;
}

body {
    background-color: rgb(83, 82, 82);
}

h3 {
    font-size: 5rem;
}

.card {
    text-align: justify;
    border-radius: 9px;
}

@media only screen and (max-width: 600px) {

    html {
        font-size: 6px;
    }
    
} 